
.day h5 {
    background-color: transparent;
    padding: 3px 5px 5px;
    margin: -8px -8px 8px -8px;
}

.date {
    padding-left: 0px;
}

.day {
    height: 90px;
}

.border {
    border: 1px solid #000000!important;
}

.container-fluid {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
}

.all-slots{
    background-color: #b2d198;  
}

.few-slots {
    background-color: #d87811;  
}

.no-slots {
    background-color: #c10f18;
}

.slots {
    height: 20px;
}

.slots-full {
    color:#c10f18;
}

.slots-full-display{
    color:#c10f18;
    padding-left: 40px;
    font-style: italic;
}

.calendar-heading {
    float: left;
}

.left-right {
    text-align: right;
    padding-right: 0;
}

.arrow-btn {
    height: 30px;
    padding-top: 2px;
    border-radius: 0px;
}


/* modal properties */

.modal-content {
    width: 80%;
}

.modal-panelist {
    padding-left: 10%;
}

.modal-checkbox-hiring {
    display: hidden;
}

.edit-btn {
    border-radius: 0px;
    width:65%;
    margin-top: 20px;
}

.form-check-label, .modal-hiring-details {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .date {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 567px) {
    .date {
        font-size: 10px;
    }
    
}

